<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientTestServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ClientTestServer.Properties.Settings>
            <setting name="ClientTestServer_QueryServer_WebService" serializeAs="String">
                <value>https://localhost:44384/WebService.asmx</value>
            </setting>
            <setting name="ClientTestServer_QueryServer1_WebService" serializeAs="String">
                <value>https://localhost:44384/WebService.asmx</value>
            </setting>
        </ClientTestServer.Properties.Settings>
    </applicationSettings>
</configuration>